html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bree Serif', serif!important;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* Nav - CSS */

button{
    background-color: black!important;
}
.btn{
    border-radius: 25px;
    background-color: #d6be91!important;
    color: black!important;
}

.dropdown-content li > a{
    background-color: #d6be91!important;
    color: black!important;
}

.guardia_logo img{
    margin-top: 3%;
    height: 25%;
    width: 25%;
}

.card{
    border-radius: 20px!important;
    box-shadow: 10px 10px 10px #d7b16a!important;
}

.card img {
    border-radius: 20px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.zoom-image{
    overflow:hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.zoom-image img{
    width:100%;height:auto;
}

.zoom-image img:hover{
    width:100%;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out;
}

.add-linkedin{
    background-color: #d8b36e!important;
    color:white;
}

.sidenav{
    background-color: #d6be91!important;
}



/* Parallax */

.image-top{
  background-size: cover!important;
  height: 100%!important;
  min-height: 100%!important;
}


/* Caroussel */

.projet1-background{
    background: url("../img/p1bg.webp") no-repeat;
    background-position-y: 25%
}

.projet2-background{
    background: url("../img/p2bg.webp") no-repeat;
    background-position-y: 25%
}

.projet3-background{
    background: url("../img/p3bg.webp") no-repeat;
    background-size: cover;
    background-position-y: 35%;
}

.caroussel-title{
    color: white;
}

/* Contactez-nous */


.text_contact_h2 {
    font-family: 'Poppins', sans-serif, 'arial'!important;
    font-weight: 600!important;
    font-size: 40px!important;
    color: white!important;
    text-align: center!important;
}

.text_contact_h3{
    font-family: 'Roboto', sans-serif, 'arial'!important;
    font-weight: 400!important;
    font-size: 30px!important;
    color: white!important;
    line-height: 1.5!important;
}

/* MODAL CONTACT FORM */

.modal .modal-content {
    background-color: #444442!important;
}


input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}


/* FOOTER */

a{
    text-decoration: none;
}

footer{
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #d6be91;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
    background-color:black;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

.footer_title{
    color: white;
    font-size: medium!important
}


/* Easter Egg dark mode */ 

    body{
        background-color: white!important;
        color: black!important;
        font-family: 'Bree Serif', serif!important;
    }
    
    .dark-mode {
        background-color: black!important;
        color: white!important;
        font-family: 'Bree Serif', serif!important;
    }