html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bree Serif', serif!important;
}

/* Nav - CSS */

.btn{
    border-radius: 25px;
    background-color: orange!important;
    color: black!important;
}

.dropdown-content li > a{
    background-color: orange!important;
    color: black!important;
}

.guardia_logo img{
    margin-top: 3%;
    height: 25%;
    width: 25%;
}

.card{
    border-radius: 20px!important;
}

.card img {
    border-radius: 20px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
/* Caroussel */

.projet1-background{
    background: url("../img/p1bg.webp") no-repeat;
    background-position-y: 25%
}

.projet2-background{
    background: url("../img/comments-python.webp") no-repeat;
    background-position-y: 25%
}

.caroussel-title{
    color: white;
}